.card-container {
  border: 1px solid #eaedf2;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;

  &__title {
    font-size: 32px;
    font-weight: 600;
  }

  &__content {
    font-size: 15px;
    font-weight: 500;
    color: #667085;
  }
}
