<div class="main-container">
  <div class="header">
    <h1 class="main-container__title">Dashboard</h1>
    <div class="main-container__bar">
      <nz-input-group [nzPrefix]="prefixIconSearch">
        <input type="text" nz-input placeholder="Search" />
      </nz-input-group>
      <ng-template #prefixIconSearch>
        <nz-icon nzType="search" />
      </ng-template>

      <nz-select ngModel="lucy" style="width: 120px" nzPlaceHolder="Groups">
        <nz-option nzValue="1" nzLabel="Group one"></nz-option>
        <nz-option nzValue="2" nzLabel="Group one"></nz-option>
        <nz-option nzValue="3" nzLabel="Group one"></nz-option>
      </nz-select>

      <app-badge-cell></app-badge-cell>
    </div>
  </div>
  <div class="content">
    <div class="content__bar">
      <button nz-button nzType="link" class="content__bar-btn">
        <nz-icon nzType="left"></nz-icon>
        Back
      </button>
      <button nz-button class="content__bar-btn">
        <svg-icon
          src="img/more-vertical.svg"
          alt="Badge Icon"
          [svgStyle]="{ width: '24px', height: '24px' }"
        ></svg-icon>
      </button>
    </div>
    <section class="content__middle">
      <div class="content__chart">
        <app-chart></app-chart>
      </div>
      <div class="content__cards">
        <app-card
          *ngFor="let card of cards"
          [title]="card.title"
          [content]="card.content"
        ></app-card>
      </div>
    </section>
  </div>
</div>
